body {
    font-family: Arial, Helvetica;
    color: #444;
    background-color: white;
    margin: 0px;
}

.midden-stuk {
    width: 95%;
    max-width: 800px;
    text-align: left;
}

img {
    width: 100%;
}

footer {
    font-size: 80%;
}

.levervoorwaarden {
    float: right;
}

table {
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    color: #444;
}
th, td, tr {
    
    border-style: solid;
    border-color: gainsboro;
    border-width: 0;
    border-bottom-width: 0.2mm;
    padding: 10px;
}
input{
    width: 90px;
}

