body {
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica;
    color: #444;
    background-color: white;
    max-width: 800px;
    position: absolute;
    left: 25%;
    right: 25%;
    
}
img{
    width: 100%;
}
footer {
    font-size: 80%;
}
.levervoorwaarden{
    float: right;
}
@media only screen 

and (max-device-width : 800px) 
and (orientation : landscape) { /* STYLES GO HERE */}
