.topnav {
  align-self: center;
  width: auto;
  margin-top: 40px;
  font-family: Arial, Helvetica;
  color: #444;
  background-color: white;
  overflow: hidden;
  background-color: #333;
}

@media screen and (max-width: 800px) {
  .topnav {
    margin-top: 0px;
    margin-left: -3%;
    margin-right: -3%;
  }
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color: #ddd;
  background-color: rgb(206, 43, 55);
}

/* Add a color to the active/current link */

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}



/* style van personeel */
table {


  width: 100%;
  max-width: 800px;
  font-family: Arial, Helvetica;
  color: #444;
}
 tr, th{
  
  padding: 3px;

  border-color: gainsboro;
  border-width: 0;
  
}
td{
  border-width: 0;
  padding: 3px;

}
input{
  width: 125px;
  
}
span{
  font-weight: lighter;
  font-size: small;
}