body {
    margin: auto;
    margin-right: 10px;
    font-family: Arial, Helvetica;
    color: #444;
    background-color: white;
    position: absolute;
    
    
  
}




img {
    width: 150px;
}

table {
   
    margin-bottom: 20px;
    width: 100%;
}

td {
    vertical-align: top;

}

p {
    text-align: center;
}

h3 {
    text-align: center;
}