img {
    width: 150px;
    transition: width 0.5s;
}

img:hover {
    width: 170px;
    transition: width 0.5s;
}

table {
    margin-bottom: 20px;
    width: 50%;
    max-width: 800px;
    font-family: Arial, Helvetica;
    color: #444;
}

td {
    vertical-align: top;
    border-style: solid;
    border-color: gainsboro;
    border-width: 0;
    border-bottom-width: 0.2mm;
    padding: 20px;
}

p {
    text-align: left;
}

h3 {
    text-align: center;
}